<div class="contacts">
  {{#each contacts}}
    {{>contact}}
  {{/each}}
</div>
<form class="update-form">
  <input class="id" style="display: none;" value="{{contact.id}}">
  <input class="name" type="text" placeholder="Name" value="{{contact.name}}">
  <input class="phone-number" type="text" placeholder="Phone number" value="{{contact.phoneNumber}}">
  <input type="button" class="default-link update-link" onchange="" onclick="updateContact()" value="Update" />
  <input type="button" class="default-link delete-link" onclick="deleteContact()" value="Delete" />
  <input type="button" class="default-link refuse-link" onclick="{{refuse}}" value="Refuse" />
</form>

